<!doctype html> 
<html>
<!-- include head partial form ./views/_head.ejs --> 
<!-- this has all of our style and client-side script tags --> 
<head>

<meta charset="utf-8" />
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
  <!-- jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
 
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!-- Bootstrap JS -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!-- Material Design -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.grey-pink.min.css">
  <script defer src="https://code.getmdl.io/1.1.2/material.min.js"></script>
 
  <!-- Clock --> 
  <script src="/js/clock.js"></script>
 
 
  <script src='/js/lib/jquery.min.js'></script>
  <script src='/js/lib/bootstrap.min.js'></script>

 

  <!-- Custom -->
  <link rel="stylesheet" type="text/css" href="/css/main.css">
 
  <!-- Particles -->
  <script type="text/javascript" src="/js/particles.js"></script>
  <!-- Pace --> 
  <script src="/js/pace.js"></script>
  <link href="/css/pace.css" rel="stylesheet"/>
  <!-- Masonry -->
 <script src="https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js"></script>
 
  <script src="scripts.js"></script>
  <script type="text/javascript" src="/js/lib/jquery.easing.1.3.js"></script>
 
  
 


    
<header id="page-header">

    <!-- <nav class="navbar navbar-static-top"> -->
    <div id="header">
      <a class="hoverlink" href="/">ARCHIVE</a>
     
      <a href="https://www.linkedin.com/in/yrchang" target="_blank"><i class="fa fa-linkedin-square hoverlinkicons"></i></a>
      <a href="https://github.com/ryichang" target="_blank"><i class="fa fa-github-square hoverlinkicons"></i></a>
      <a href="https://www.instagram.com/boytoy/" target="_blank"><i class="fa fa-instagram hoverlinkicons"></i></a>
      <a href="https://twitter.com/rxneu" target="_blank"><i class="fa fa-twitter hoverlinkicons"></i></a>
   
      <time>TICK, TOCK.</time>
     <!--  <a href="https://drive.google.com/open?id=0B8brkhTIXxAWSV9HOTZ5UEhIaWc" target="_blank"><i class="fa fa-file hoverlinkicons"></i></a> -->
    </div>

  <!--   </nav> -->
    

<!-- MODALS -->

<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="myModalLabel">Log In</h4>
     </div>
     <div class="modal-body">
       <form id="login-form" method="POST" action="/sessions">
         <div class="form-group">
           <input type="text" name="email" class="form-control" placeholder="Email" required autofocus>
         </div>
         <div class="form-group">
           <input type="password" name="password" class="form-control" placeholder="Password" required>
         </div>
         <div class="form-group">
           <!-- Accent-colored raised button with ripple -->
           <input type="submit" value="Log In" button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
           </button>
          
         </div>
         </form>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>

<div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signUpModalLabel">
 <div class="modal-dialog" role="document">
   <div class="modal-content">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       <h4 class="modal-title" id="signUpModalLabel">Sign Up</h4>
     </div>
     <div class="modal-body">
       <form id="signup-form" method="POST" action="/users">
         <div class="form-group">
           <input type="text" name="email" class="form-control" placeholder="Email" autofocus required>
         </div>
         <div class="form-group">
           <input type="password" name="password" class="form-control" placeholder="Password" required>
         </div>
         <div class="form-group">
           <!-- Accent-colored raised button with ripple -->
           <input type="submit" value="Sign Up" button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
           </button>
           
         </div>
       </form>
     </div>
     <div class="modal-footer">
       <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
     </div>
   </div>
 </div>
</div>

<!-- Particles JS -->
<div class="col-md-5">
 <div id="particles-js"></div>   
</div> 
</header>

</head>

<body> 
	<div class="container">
	  <input type="checkbox" id="chat-toggle">

		<div class="page-wrap">
			<div class="page-content">
					<div class="jumbotron">

					
						<h1 class="article-title">RØY</h1>
					
					
						<h1 class="article-title">CHANG</h1>
					
					
						<h1 class="article-title">DEVELØPER</h1>
					
					</div>
					<% include ./about %>

					<div class="row">
					<div class="col-md-4">
					 <h3 class="article-title">EDUCATION<h3>
					 <p>I attended University of California, Davis, obtained B.A. in Economics and Psychology. After completing my bachelors, I attended Santa Clara University for Certificate of Advanced Accounting Proficiency to be eligible for the CPA. I attended General Assembly's Web Development Immersive Program in September of 2015 and freshly graduated in December.
					 </p>
					</div>
					<div class="col-md-4">
					<h3 class="article-title">WORK EXPERIENCE</h3>
						<p>  <b>Macias, Gini & O'Connell LLP:</b> Experienced Auditor
						<br> <b>Central Computers:</b> Sales Associate
					    <br> <b>Crate & Barrel, Euromarket Design Inc:</b> Sales Associate
						<br> <b>Associated Students of UCD:</b> Lead Technical Assistant Director
						<br> <b>San Mateo County Health Center:</b> Surgical Scheduling Specialist Assistant
					</div>

					<% include ./social %>
					</div>
					<div class="row">
						<div class="col-md-8">
						<h3 class="article-title">PROJECTS<h3>
						  
						</div>
						<div class="col-md-4">
						<h3 class="article-title">TWITTER</h3>
						<p> BLAH BLAH BLAH</p>
						</div>
					</div>
					</div>
				<% include ./chat-sidebar %>
			</div>
		</div>
	</div>
	<% include ./nav %>
	

</body>

<% include ./footer %>
</html> 