body {
	margin:0px; 
	padding:0px;
	/*background-color: #fff;*/
	background-color: #f5f5f5;
	color: #454545;
	}

p {
  font-family: Hack, monospace;
  font-size: 12px;
  line-height: 2.5em;
}

h1 {
  text-align: right;
  color: #454545;
  font-size: 34px;
  letter-spacing: 0.3em;
  weight: 700;
  position: rleative-inline;
}

.jumbotron {
  background-color: transparent;
  margin-top: -100px;
}
/*
.navbar {
   background-color: transparent;
   border-color: transparent;
   color: #000;
   font-family: 'Helvetica', sans-serif; 
   font-size: 20px;
   position: relative;
   z-index: 10000;
   top: 0;
   width: 100%
}*/


.instagram {
  border-style: solid;
  border-width: 1px;
  border-color: #;
}
.instagram-gallery{
  min-width:300px;
}
.instagram-img{
  width:80px;
  float:left;
  margin:5px;
  position:relative;
  background:#454545;
/*  box-shadow:0 1px 1px rgba(0,0,0,0.4);*/
}
.instagram-gallery .imagebox img{
  width:80px;
  height:80px;
  display:block;
}
.instagram-gallery .imagebox .likes{
  position:absolute;
  top:50px;
  left: 0px;
  padding:5px 5px 5px 20px;
  background:transparent url(https://abs.twimg.com/emoji/v1/72x72/2665.png) no-repeat;
  background-size:10px;
  background-position:5px;
  color:#fff;
  font-size: 11px;
}

.article-title {
  padding: 5px 5px 5px 10px;
  color: #fff;
  font-weight: 500;
  background-image: linear-gradient(
      to right top,
      transparent 33%,
      #454545 33%,
      #454545 66%,
      transparent 66%
  );
  background-size: 3px 3px;

}

time {
  float: right;
  font-weight: 700;
  font-size: 12px;
  padding-left: 5px;
  background-color: rgba(245, 245, 245, 0.8);
  /*background-image: linear-gradient(
      to right top,
      transparent 33%,
      #000 33%,
      #000 66%,
      transparent 66%
  );
  background-size: 3px 3px;*/
}

.hoverlink{
  color: #454545 !important;
  text-decoration:none !important;
  display: inline-block;
  text-decoration: none;
}

.hoverlinkicons{
  color: #454545 !important;
  text-decoration:none !important;
  display: inline-block;
  text-decoration: none;
}

.hoverlinkicons:after{
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.hoverlinkicons:hover:after {
  width: 100%;
  background: #454545;
}

.hoverlink:after {
  content: '';
  display: block;
  height: 1px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.hoverlink:hover:after {
  width: 100%;
  background: #454545;
}

#header{
    position: fixed;
    top: -100px;
    width: 100%; height:50px;
    padding: 20px;
    background-color: rgba(245,245,245,0.9);
    border-color: transparent;
    font-family: 'Helvetica', sans-serif; 
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 7px;
    color: #454545;
    z-index: 200;
}

.page-content {
	position: relative;
  margin-top: 90px;
	z-index: 0;
}

.chat-sidebar {
  display: nne;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  position: fixed;
  top: 250px;
  right: 0;
  bottom: 0;
  left: -380px;
  height: 400px;
  width: 350px;
  padding: 15px;
  background-color: rgba(245,245,245, 0.9);
  color: #454545;
  border-style: solid;
  border-width: 1px;
  z-index: 0;
}

#chat-toggle {
  display: none;
}
#chat-toggle:checked + .page-wrap .chat-sidebar {
  left: 0px;
}
#chat-toggle:checked + .page-wrap .toggle {
  left: 300px;
}
#chat-toggle:checked + .page-wrap .page-content {
  padding-right: 0px;
}



.contact-sidebar {
  display: nne;
  -webkit-transition: all 0.2s ease-out 0s;
  -moz-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  position: fixed;
  top: 250px;
  right: 0;
  bottom: 0;
  left: -380px;
  height: 400px;
  width: 350px;
  padding: 15px;
  background-color: rgba(245,245,245, 0.9);
  color: #454545;
  border-style: solid;
  border-width: 1px;
  z-index: 0;
}

#contact-toggle {
  display: none;
}
#contact-toggle:checked + .page-wrap .contact-sidebar {
  left: 0px;
}
#contact-toggle:checked + .page-wrap .toggle {
  left: 300px;
}
#contact-toggle:checked + .page-wrap .page-content {
  padding-right: 0px;
}

/* ---- particles.js container ---- */

#particles-js {
  width: 100%;
  height: 100%;
  background-color: #f5f5f5;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
canvas{
  float: center;
  display:relative;
  vertical-align:bottom;
  margin-top: -100px;
}

@media only screen and (max-width: 500px) {
    canvas{
      float: left;
      display:block;
      vertical-align:bottom;
      margin-top: -80px;
      width: 350px;
      height: 100px;
      z-index: -1;
    }
}

media (max-width: @screen-xs-min) {
  .modal-xs { width: @modal-md-12; }
}

.modal-dialog{
position: absolute;
left: 30%;
/*margin-left: 100px;*/
/*height: 500px;*/
top: 20%;
/*margin-top: -200px;*/
/*-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-moz-box-shadow: 5px 5px 0 0 #107f6a;
-webkit-box-shadow: 5px 5px 0 0 #107f6a;
box-shadow: 5px 5px 0 0 #107f6a;*/
-moz-animation: move 1s 1;
-webkit-animation: move 1s 1;
animation: move 1s 1;
} 

@-moz-keyframes move {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes move {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes move {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}


.container {
	margin-top: 30px;
}

.modal-header {
	border-color: transparent;
}

#fl_menu{
	position:absolute; 
	top:82px; 
	left:20px; 
	z-index:9999; 
	width:200px; 
	height:50px;
}
#fl_menu .label{
	padding-left:20px; 
	line-height:50px; 
	font-family: 'Helvetica', sans-serif; 
	font-size:20px; 
	font-weight:200; 
	background:#000; 
	color:#fff; 
	letter-spacing:7px;
    border-radius:0px/50%;
}
#fl_menu .menu{
	display:none;
}
#fl_menu .menu .menu_item{
	display:block; 
	background:#000; 
	color:#bbb; 
	border-top:1px solid #333; 
	padding:10px 20px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:12px; 
	text-decoration:none;
}
#fl_menu .menu a.menu_item:hover{
	background:#333; 
	color:#fff;
}


.menu {
  background: rgba(255, 255, 255, 0.0);
}

.menu-item, 
.menu-open-button {
  background: #000;
  border-radius: 50%;
  width: 3.5em;
  height: 3.5em;
  margin-left: -55px;
  position: fixed;
  top: 75%;
  color: white;
  text-align: center;
  line-height: 3.5em;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 300ms;
          transition: transform ease-out 300ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 4px;
  background: #fff;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 300ms;
          transition: transform 300ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
          transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
          transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
          transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
          transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
          transform: translate3d(0, 0, 0) rotate(-45deg);
}

.nav {
  position: fixed;
  left: 95%;
  margin-left: 0;
  width: 150px;
  height: 150px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: linear-gradient(135deg, #000, #000);
  color: rgba(245, 245, 245, 0.80);
}
.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
          transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(1.0, 1.0) translate3d(0, 0, 0);
          transform: scale(1.0, 1.0) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
          transform: scale(1.1, 1.1) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(0.75, 0.75) translate3d(0, 0, 0);
          transform: scale(0.75, 0.75) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 100ms;
          transition-duration: 100ms;
  -webkit-transform: translate3d(0, -75px, 0);
          transform: translate3d(0, -75px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: translate3d(0, -150px, 0);
          transform: translate3d(0, -150px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transform: translate3d(0, -225px, 0);
          transform: translate3d(0, -225px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(0, -300px, 0);
          transform: translate3d(0, -300px, 0);
}





li {
    list-style-type: none;
}


